<div class="container">
    <div class="col-xs-2"><div class="visible-lg"><%= image_tag 'mori.jpg', class:"ad" %></div></div>   
    
    <div class="col-xs-8">

      <header>Sign up</header>
      <br>
      <% if logged_in? %>
       <%# <%= link_to "Profile", user_path(current_user.id) %>
        <%= link_to "Logout", session_path(current_user.id), method: :delete %>
        <br><br>
      <% else %>
        <br><br>
      <% end %>

      <p><%= @user.name %>のページを作成しました</p>
      <p>メールアドレス<%= @user.email %></p><br>
      <%= link_to 'ブログ一覧に移動する', blogs_path(@user.id), class: 'btn btn-primary'  %><br>

      <footer>
        <div class="company">© Friend Corp. All RIGHTS RESERVED.</div>
      </fotter>

    </div>
    <div class="col-xs-2"><div class="visible-lg"><%= image_tag 'making_150202_03.jpg', class:"ad" %></div></div>
</div>